h1{
    color: green;
}
#A1{
   color: green;
   margin-left: 40px;
}
 form{
     width: 450px;
}
 #A2{
     border: 2px solid black;
     width: 180px;
    margin-left: 5px;
 }
#a24{
    margin-left: 70px;
}
.card{
    width: 100px;
    height:230px;
}
.card-img-top{
    height: 100px;
    width: 100%;
    border: 1px solid;
}
#C1{
    border: 1px solid black;
}
h3,p{
    color: black;
    text-align: left;
    
}